@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Marck Script', cursive;
    background-image: url('../../Images/SignIn/Fons.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url('../../Images/SignIn/PergamiEnBlanc.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32%;
}